html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    margin: 0 auto;
    background-color: #222;
}
.titleIntegrantes{
    font-size: 30px;
    padding: 15px;
    color: black;
    padding-bottom: 15px;
}
.integrantes{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 3px;
    border-radius: 9px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
}
.linhaIntegrantes{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    padding: 8px;
    flex-direction: row;
    justify-content: space-around;
}
.cardIntegrante{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    border-radius: 10px;
    height: 100%;
    padding: 8px;
    background-color: whitesmoke;
}
.foto{
    width: 90%;
    height: 90%;
}
.nome{
    font-weight: 700;
    font-size: 20px;

}
.sobreResumido{
    font-size: 15px;
}
.redes{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    margin-top: 8px;
    justify-content: space-between;
}
.redeFoto{
    height: 35px;
    
}
.imgFoto{
   border-radius: 10px;
}